.tht{
    border: 2px solid red;
    border-radius: 500px;
    position: fixed;
    padding: 200px;
    padding-left: 150px;
    padding-right: 150px;
    top: 50%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }   

#th{border: 2px solid red;
    border-radius: 500px;
    position: fixed;
    padding: 200px;
    padding-left: 150px;
    padding-right: 150px;
    top: 46%;
    left: 30%;
    }

#t{border: 2px solid red;
    border-radius: 500px;
    position: fixed;
    padding: 200px;
    padding-left: 150px;
    padding-right: 150px;
    top: 15%;
    left: 30%;
    }


.c{
    position: fixed;
    top: 49%;
    left: 40%;
    }
    
.l{ 
    height:1800px;
    position: absolute;
    top: 49%;
    left: 53%;   
    }

.i{ 
   
    position: absolute;
    top: 60%;
    left: 53%;
    display:inline;
    }
    
.f{ 
   
    position: absolute;
    top: 71%;
    left: 53%;
    display:inline;
    }

.e{ 
   
    position: absolute;
    top: 82%;
    left: 53%;
    display:inline;
    }
    
    

.a{ 
   
    position: absolute;
    top: 93%;
    left: 53%;
    display:inline;
    }
    
    
.n{ 
   
    position: absolute;
    top: 104%;
    left: 53%;
    display:inline;
    }
    
    
    
    
    
}