body {
  background: black;
}

.if {
    position: fixed;
  padding: 2em 5em;
  font: normal 100px sans-serif;
  color: white;
}
.if p {
  height: 150px;
  float: left;
  margin-right: 0.3em;
}
.if b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 100px;
  top: 50px;
}
.if .never {
  display: inline-block;
  color: red;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

    -webkit-animation:move 5s;
    -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;

    -webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    animation-iteration-count:infinite;

    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -ms-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}





.choice{font-weight: bold;
    font-size: 100px;
    font-family: sans-serif;
    color: white;
    letter-spacing: 1px;
    text-align:center;
    position: absolute;
    margin-top: 430px;
   
    padding-left:-100px;
    padding-right:500px;
    width:1000px;}